$blackFont: 'NotoSansBlack', '맑은 고딕', sans-serif;
$boldFont: 'NotoSansB', '맑은 고딕', sans-serif;
$middleFont: 'NotoSansM', '맑은 고딕', sans-serif;
$regularFont: 'NotoSansR', '맑은 고딕', sans-serif;
$thinFont: 'NotoSansT', '맑은 고딕', sans-serif;

//= 분기점
$breakpoint-wide-tablet: 1300px; //태블릿 가로
$breakpoint-tablet: 820px; //태블릿 세로
$breakpoint-mobile: 480px; //모바일

//& 태블릿 가로`
@mixin wide-tablet {
  @media screen and (max-width: $breakpoint-wide-tablet) {
    @content;
  }
}
//& 태블릿 세로
@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}
//& 모바일
@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin position-style(
  $position: absolute,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $zIndex: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIndex;
}

@mixin flex-style(
  $flexDirection: row,
  $alignVal: center,
  $justifyVal: center,
  $flexWrap: null,
  $flex: null
) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignVal;
  justify-content: $justifyVal;
}

//= animation

@keyframes moving {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes rightMoving {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes txtUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes txtSwipeLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes txtSwipeRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes infiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes infiniteAnimation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}