@charset "UTF-8";
@keyframes moving {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes rightMoving {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes txtUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes txtSwipeLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes txtSwipeRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes infiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes infiniteAnimation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: 150px 30px 50px 30px;
}
.page .title {
  font-family: "NotoSansBlack", "맑은 고딕", sans-serif;
  font-style: italic;
  font-size: 50px;
  position: absolute;
  top: 100px;
}
.page .title.right {
  right: 200px;
  animation: txtSwipeLeft 1s normal;
}
.page .title.left {
  left: 200px;
  animation: txtSwipeRight 1s normal;
}
.page.black {
  background: #1f1f1f;
}
.page.black * {
  color: white;
}
.page.welcome-page .title {
  right: 100px;
  align-items: flex-end;
}
.page.welcome-page .title p {
  animation: moving 3s infinite;
  line-height: 4rem;
  font-size: 4rem;
  font-family: "NotoSansBlack", "맑은 고딕", sans-serif;
  font-style: normal;
}
.page.welcome-page .title p:nth-child(2) {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}
.page.welcome-page .title p:last-child {
  margin-bottom: 20px;
}
.page.welcome-page .scroll-down-icon {
  position: absolute;
  top: calc(100vh - 60px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: moving 1.5s infinite;
}
.page.intro-page .rolling-wrap {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.page.intro-page .rolling-wrap .hi {
  display: flex;
  width: max-content;
}
.page.intro-page .rolling-wrap .hi * {
  font-family: "NotoSansBlack", "맑은 고딕", sans-serif;
  font-size: 50px;
}
.page.intro-page .rolling-wrap .hi .english,
.page.intro-page .rolling-wrap .hi .spanish,
.page.intro-page .rolling-wrap .hi .deutsch {
  margin: 0px 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #1f1f1f;
}
.page.intro-page .rolling-wrap .hi.original {
  animation: 20s linear infinite normal none running infiniteAnimation1;
}
.page.intro-page .rolling-wrap .hi.clone {
  animation: 20s linear infinite normal infiniteAnimation2;
}
.page.intro-page .name-intro {
  font-family: "NotoSansBlack", "맑은 고딕", sans-serif;
  font-size: 30px;
}
.page.intro-page .content {
  margin-top: 50px;
  width: 500px;
}
.page.intro-page .content span {
  font-size: 18px;
  font-family: "NotoSansM", "맑은 고딕", sans-serif;
}
.page.intro-page .content span b {
  font-family: "NotoSansB", "맑은 고딕", sans-serif;
}
.page.intro-page .content br {
  margin-bottom: 20px;
}

/*# sourceMappingURL=common.css.map */
