@charset "UTF-8";
@keyframes upDownAni {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}
.container .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.container .content-wrap.main .title {
  margin-right: 30%;
  align-items: flex-start;
}
.container .content-wrap.main .title img {
  width: 20rem;
  margin-bottom: 20px;
}
.container .content-wrap.main .title p {
  font-family: "NanumNeoLight", "맑은 고딕", "sans-serif";
  font-size: 5rem;
}
.container .content-wrap.main .title p strong {
  font-size: 5rem;
  font-family: "NanumNeoBold", "맑은 고딕", "sans-serif";
}
.container .content-wrap.main .view-more {
  position: absolute;
  bottom: 30px;
  animation: upDownAni 2s infinite;
}
.container .content-wrap.stack > .column > .row {
  width: 90%;
  justify-content: space-between;
}
.container .content-wrap.stack > .column > .row img {
  width: 10rem;
}
.container .content-wrap.stack > .column > .row.stack {
  margin-bottom: 30px;
}
.container .content-wrap.stack > .column > .row .stack-list {
  width: 500px;
}
.container .content-wrap.stack > .column > .row .stack-list .row {
  transition: all 0.2s;
  cursor: pointer;
  justify-content: space-between;
  padding: 24px 12px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.container .content-wrap.stack > .column > .row .stack-list .row p {
  transition: all 0.2s;
  font-family: "NanumNeoLight", "맑은 고딕", "sans-serif";
  font-size: 18px;
}
.container .content-wrap.stack > .column > .row .stack-list .row p strong {
  font-size: 18px;
  transition: all 0.2s;
  font-family: "NanumNeoBold", "맑은 고딕", "sans-serif";
}
.container .content-wrap.stack > .column > .row .stack-list .row svg {
  transition: all 0.2s;
  font-size: 1.5rem;
}
.container .content-wrap.stack > .column > .row .stack-list .row:hover {
  transition: all 0.2s;
  background-color: black;
}
.container .content-wrap.stack > .column > .row .stack-list .row:hover p {
  transition: all 0.2s;
  color: white;
}
.container .content-wrap.stack > .column > .row .stack-list .row:hover p strong {
  transition: all 0.2s;
  color: white;
}
.container .content-wrap.stack > .column > .row .stack-list .row:hover svg {
  transition: all 0.2s;
  fill: white;
}
.container .content-wrap.stack > .column > .row .stack-list .row:last-child {
  margin-bottom: 0;
}
.container .content-wrap.stack > .column > .row .communicate-wrap {
  width: 65%;
  flex-wrap: wrap;
}
.container .content-wrap.stack > .column > .row .communicate-wrap img {
  margin: 10px;
}
.container .content-wrap.intro .a {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.container .content-wrap.intro .a .content {
  flex-shrink: 0;
  width: 700px;
  height: 300px;
  margin-right: 40px;
  background-color: gray;
  border: 1px solid black;
}